* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html body {
    width: 100%;
    height: 100%;
}
main {
    width: 100vw;
    height: 100vh;
    background-color: blue;
}
form {
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    display: grid;
    justify-content: center;
    position: relative;
    left: 25%;
    top: 20%;
    background-color: white;
}
label {
    position: relative;
    top: 20%;
    font-size: 16px;
}
#textbar {
    position: relative;
    left: 20%;
    /*top: 20%;*/
    height: 4vh;
    width: 25vw;
    text-align: center;
}
#messagespace {
    width: 40vw;
    height: 28vh;
    border: 1px solid black;
    border-radius: 5%;
    position: relative;
    /*top: 20%;*/
}
#submit {
    width: 37vw;
    height: 6vh;
    position: relative;
    left: 4.5%;
}